***
<h2 style="text-align:center"> Python Assignment 2(Mega Assingment)</h2>
<i> Will continue from question no. 26 as python 1 assignment already contains answers till question no. 25 </i>

***

26.  What is a string? How can we declare string in Python?

<i> String is a sequence of characteres eg. "hello".In python by default if data type is not mentioned then it is considered as string. In python we declare string in single/double quotes eg. str="Python programming"

27. How can we access the string using its index?

In [1]:
#we can access string using square brackets 
str1='Hello world'
str1[4]

'o'

28. Write a code to get the desired output of the following
```
string = "Big Data iNeuron"
desired_output = "iNeuron"
```

In [2]:
string = "Big Data iNeuron"
string[9:]

'iNeuron'

29. Write a code to get the desired output of the following
```
string = "Big Data iNeuron"
desired_output = "norueNi"
```

In [3]:
string = "Big Data iNeuron"
string[-1:-8:-1]

'norueNi'

30. Resverse the string given in the above question.

In [4]:
string = "Big Data iNeuron"
string[-1::-1]

'norueNi ataD giB'

31. How can you delete entire string at once?

In [5]:
#we can delete string using "del" keyword
str1="hello"
del(str1)
print(str1)

NameError: name 'str1' is not defined

32. What is escape sequence?

<i> Escape sequence are used illegal characters so we use backslash to escape the characters <br> below are few examples:-
* \n for new line
* \\\ for backslash
* \\' for single quotes

33. How can you print the below string?
```
'iNeuron's Big Data Course'
```

In [ ]:
print('\'iNeuron\'s Big Data Course\'')

34. What is a list in Python?

<i> list are used to store multiple values in a single variable. It is an ordered data structure

35. How can you create a list in Python?

In [ ]:
#we can create list using square braces and values separated by commas
list1=["hello",'world',123,'python']
list1

36. How can we access the elements in a list?

<i>We uses square braces to access the elements in the list eg. str="hello" str[2]

37. Write a code to access the word "iNeuron" from the given list.
```
list1 = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [ ]:
list1 = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
list1[4][2]

38. Take a list as an input from the user and find the length of the list.

In [ ]:
str1=[]
n = int(input('Enter the no. of elements you want in list'))
for i in range(0,n):
    res=input()
    str1.append(res)
print('Length of list: ',len(str1))

39. Add the word "Big" in the 3rd index of the given list.
```
lst = ["Welcome", "to", "Data", "course"]

In [ ]:
#In both ways list in first I am adding to 3rd element
lst = ["Welcome", "to", "Data", "course"]
lst.insert(2,"Big")
print(lst)

#Here I am adding "Big" just before the Data at same index
lst = ["Welcome", "to", "Data", "course"]
lst[2] = "Big " + lst[2]
print(lst)

40. What is a tuple? How is it different from list?

<i> Tuples are same as list but tuples are immutable. They are declare using round braces.We cannot add or remove element in tuple <br>
    eg. tup1=(1,2,'Hello')

41. How can you create a tuple in Python?

In [ ]:
#Tuple can be created using round braces
tup1=(1,2,3,4,'Hello')
tup1

42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

<i> We cannot add item if tuple is already created. Tuple are immutable so we cannot add or delete the element in the tuple. Tuple does not contain any methods like list i.e insert, append or delete

43. Can two tuple be appended. If yes, write a code for it. If not, why?

In [ ]:
#We cannot append two tuples directly but we can concat two tuple by adding them to 3rd tuple or converting them into the list first
tup1=(1,2,3,4)
tup2=(5,6,7,8)
list_res=[tup1 + tup2]
print(list_res)

44. Take a tuple as an input and print the count of elements in it.

In [ ]:
tup1=(1,2,3,4,5,'Hello')
print(len(tup1))

45. What are sets in Python?

<i> A Set in Python is an unordered collection data type that is iterable, mutable and has no duplicate elements.

46. How can you create a set?

In [ ]:
#We create sets by putting all elements in the "{}" braces
set1={1,2,3,"Hello"}
type(set1)

47. Create a set and add "iNeuron" in your set.

In [ ]:
set1={1,2,3,"Hello"}
set1.add("iNeuron")
set1

48. Try to add multiple values using add() function.

In [ ]:
set1={1,2,3,"Hello"}
set1.add("Hi")
set1.add(321)
set1.add("Python")
set1

49. How is update() different from add()?

<i> add() accepts only single value whereas update() accepts multiple values.
    add() accepts immutable argument i.e set,tuple etc.. whereas update() accepts iterable sequence only i.e. like list

50. What is clear() in sets?

In [ ]:
#Clear function clears all the elements in the SET
set1={1,2,3,4,5}
set1.clear()
print(set1)

51. What is frozen set?

<i> Fronzen set is immutable fronzenset object. Elements of the Frozen set remain after creation.

52. How is frozen set different from set?

<i> Frozen set are hashable, you can use elements as a dictonary key or elements from the another set<br>
    You can't add or remove elements from the frozet set.

53. What is union() in sets? Explain via code.

In [ ]:
# Union of both set contains all elements of both sets such that no elements are repeated
a={1,2,3,4,4}
b={6,4,7,8}
print(a.union(b))

54. What is intersection() in sets? Explain via code

In [ ]:
#Intersection of both set contains common elements of both set
a={1,2,3,3,4,5,5}
b={2,3,4,1,5}
print(a.intersection(b))

55.  What is dictionary in Python?

<i> Dictionary in python stores key values pairs

56. How is dictionary different from all other data structures.

<i> Dictionary in python stores key value pairs. The keys are unique but values can be or may not be unique.<br>
    It supports variety of methos

57. How can we delare a dictionary in Python?

In [ ]:
# we can declare dictory using curly {} braces
a={}
print(type(a))

58. What will the output of the following?
```
var = {}
print(type(var))
```

<i> It will show the type of the var i.e. Dictionary

59. How can we add an element in a dictionary?

In [ ]:
var = { 'one': 1, 'two':2}
print('before adding:',var)
var['three']=3
print('after adding:',var)

60.  Create a dictionary and access all the values in that dictionary.

In [ ]:
var={'one': 1,
     'two': 2,
     'three':3,
     'four':4}
print(var.values())

61. Create a nested dictionary and access all the element in the inner dictionary.

In [ ]:
my_dict={'name':'Varun',
         'age':20,
         'email':'varun@gmail.com',
         'Mob_no':1234567890,
         'Edu':{'Diploma':'IT',
                'B.E':'IT'}
        }
for i in my_dict:
    print(i,':',my_dict[i])

62.  What is the use of get() function?

In [ ]:
# get() is used to return the value of particular key which is in dictionary if not present in dictionary then it will return null
var = {'price': 10000}
var.get('price')

63. What is the use of items() function?

<i>The items() method is used to return each value in the dictionary as a tuple

64. What is the use of pop() function?

In [ ]:
#pop function is used to remove the value from dictionary, list and set but in tuple we cannot we pop function
cars = {'Mercedes Benz': 1, 'BMW': 2, 'Jeep': 3, 'Mahindra': 4, 'Maserati': 5}

print(cars)

print(cars.pop('BMW'))

print('After poping:',cars)

65. What is the use of popitems() function?

In [ ]:
#popitems removes the item that was inserted into the dictionary i.e. the last item
cars = {'Mercedes Benz': 1, 'BMW': 2, 'Jeep': 3, 'Mahindra': 4, 'Maserati': 5}
print('before popping:',cars)
cars.popitem()
print('after popping:',cars)

66. What is the use of keys() function?

In [ ]:
#keys used to shows all the keys of that particular dictionary
cars = {'Mercedes Benz': 1, 'BMW': 2, 'Jeep': 3, 'Mahindra': 4, 'Maserati': 5}
print(cars.keys())

67. What is the use of values() function?

In [ ]:
#values are used to show all the values of that particular dictionary
cars = {'Mercedes Benz': 1, 'BMW': 2, 'Jeep': 3, 'Mahindra': 4, 'Maserati': 5}
print(cars.values())

68. What are loops in Python?

<i> looping means repeating something over and over again till the condition is satisfied eg. While, for etc..

69. How many type of loop are there in Python?

<i> there are two types of loop in python<br></i>
<li>FOR
<li>While

70. What is the difference between for and while loops?

<i> The major difference between for loop and while loop is that in the case of for loop the number of iterations is known whereas in the case of the while loop number of iterations is unknown and the statement will run until the condition is proved false.

71. What is the use of continue statement?

<i>A continue statement ends the current iteration of a loop. Program control is passed from the continue statement to the end of the loop body

72. What is the use of break statement?

<i> Suppose you want to terminate a loop and skip to the next code after the loop; break will help you do that.

73.  What is the use of pass statement?

<i> When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed. Empty code is not allowed in loops, function definitions, class definitions, or in if statements.

74. What is the use of range() function?

In [ ]:
#The range() function returns a sequence of numbers, starting from 0 by default, and increments 
#by 1 (by default), and stops before a specified number.
#range(start, stop, step)
for i in range(0,11,2):
    print(i)

75. How can you loop over a dictionary?

In [ ]:
# we can loop through for loop
cars = {'Mercedes Benz': 1, 'BMW': 2, 'Jeep': 3, 'Mahindra': 4, 'Maserati': 5}

for i in cars.items():
    print(i)

76. Write a Python program to find the factorial of a given number.

In [ ]:
a =int(input('Enter the number'))
sum=1
if(a==0 or a==1):
    print(1)
while(a>=2):
    sum=sum*a
    a-=1
print('The factorial of no is',sum)

77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (P*R*T)/100

In [ ]:
p =int(input('Enter the principal'))
r =int(input('Enter the rate of interest'))
t =int(input('Enter the years'))
print('Simple interest will be:',((p*r*t)/100))

78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [ ]:
p =int(input('Enter the principal'))
r =int(input('Enter the rate of interest'))
t =int(input('Enter the years'))
a=p *(1 + r/100)**t
print('Compound interest will be:',a)

79. Write a Python program to check if a number is prime or not.

In [ ]:
a =int(input('Enter the no.:'))
if(a==2):
    print(a,' is not a prime')
flag=0
for i in range(2,a):
    if a % i == 0:
        flag=1
if flag==0:
    print(a,' is prime no.')
else:
    print(a,' is not prime')

80. Write a Python program to check Armstrong Number.

In [ ]:
a =int(input('Enter the no.:'))
sum=0;
temp = a
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
if sum == a:
    print(a,' is armstrong no.')
else:
    print(a,' is not armstrong no.')

81. Write a Python program to find the n-th Fibonacci Number.

In [11]:
n=int(input('Enter the no.:'))
a=0
b=1
if(n==0):
    print(a)
if(n==1):
    print(b)

for i in range(2,n+1):
    c=a+b
    a=b
    b=c
print(b)

Enter the no.: 4

3

82. Write a Python program to interchange the first and last element in a list.

In [17]:
a=[1,2,3,4,5]
print(a)
def swap(a):
    n = len(a)
    temp = a[0]
    a[0] = a[n-1]
    a[n-1] = temp
swap(a)
print(a)

[1, 2, 3, 4, 5]
[5, 2, 3, 4, 1]

83. Write a Python program to swap two elements in a list.

In [22]:
a=[1,2,3,4,5]
print('Before swapping:',a)
def swap(a):
    b=int(input('Enter the index 1st no to swap:'))
    c=int(input('Enter the index no which you want to swap with:'))
    temp = a[b]
    a[b] = a[c]
    a[c] = temp
swap(a)
print(a)

Before swapping: [1, 2, 3, 4, 5]

Enter the index 1st no to swap: 0
Enter the index no which you want to swap with: 3

[4, 2, 3, 1, 5]

84. Write a Python program to find N largest element from a list.

In [41]:
a = list(map(int, input("Enter the list: ").split()))
print(a)
def Largest_MAx(a):
    a.sort()
    return a[-1]
print(Largest_MAx(a))

Enter the list:  10 20 40 1 100 8

[10, 20, 40, 1, 100, 8]
100

85. Write a Python program to find cumulative sum of a list.

In [45]:
a = list(map(int, input('Enter the list: ').split()))
new_list=[]
j=0
for i in range(0,len(a)):
    j += a[i]
    new_list.append(j)
print(new_list)

Enter the list:  10 10 10 10 10

[10, 20, 30, 40, 50]

86. Write a Python program to check if a string is palindrome or not.

In [50]:
input_string = input("Enter a string: ")
reverse_string = input_string[-1: : -1]

if input_string == reverse_string:
    print(input_string, "is a palindrome")
else:
    print(input_string, "is NOT a palindrome")

Enter a string:  abba

abba is a palindrome

87. Write a Python program to remove i'th element from a string.

In [63]:
a = input("Enter a string: ")
n = int(input('Enter the index no: '))
def remove_char(a,n):
    b = a[:n]
    c = a[n+1:]
    return b+c
print(remove_char(a,n))

Enter a string:  Hello
Enter the index no:  1

Hllo

88. Write a Python program to check if a substring is present in a given string

In [69]:
a = input("Enter a string: ")
b = input("Enter a Sub-string: ")
print('Does ',b,' present in ',a)
if b in a:
    print('Yes')
else:
    print('No')

Enter a string:  BigData
Enter a Sub-string:  Big

Does  Big  present in  BigData
Yes

89. Write a Python program to find words which are greater than given length k.

In [75]:
a = input("Enter a string: ")
k = int(input('Enter the lenght of k'))

def length_word(k, s):
        word = a.split(' ')
        for i in word:
            if len(i)>k:
                print(i)
length_word(k,a)

Enter a string:  Data Engineer contains Big Data
Enter the lenght of k 5

Engineer
contains

90.  Write a Python program to extract unquire dictionary values.

In [80]:
dict2 = {
    "name"  : "Varun",
    "age"   : 20,
    "email" : "vnv@gmail.com",
    "number": 1234567890,
    "age"   : 20
}

unique_val = set(dict2.values())

print("Unique dictionary values are: ", unique_val)

Unique dictionary values are:  {1234567890, 'vnv@gmail.com', 20, 'Varun'}

91.  Write a Python program to merge two dictionary.

In [11]:
dict1 = {
    "1" : "varun",
    "2" : 25,
    "3" : "xyz,pqr",
    "4" : "xyz,pqr",
    "5" : "abc@mail.com"
}

dict2 = {
    "name"  : "vishal",
    "age"   : 20,
    "email" : "vnv@gmail.com",
    "number": 1234567890,
    "EDU"   :{
                "Diploma"     : "IT",
                "Engineering" : "IT",
                "PHD"         : "Data Science"
             }
}

res = {**dict1, **dict2}
res

{'1': 'varun',
 '2': 25,
 '3': 'xyz,pqr',
 '4': 'xyz,pqr',
 '5': 'abc@mail.com',
 'name': 'vishal',
 'age': 20,
 'email': 'vnv@gmail.com',
 'number': 1234567890,
 'EDU': {'Diploma': 'IT', 'Engineering': 'IT', 'PHD': 'Data Science'}}

92. Write a Python program to convert a list of tuples into dictionary.
```
Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}
```

In [16]:
tup1=[('Sachin',10),('MSD',7),('Kohli',18),('Rohit',45)]
result = dict(tup1)
result

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.
```
Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]
```

In [19]:
list1=[9,5,6]
list2= []

for i in list1:
    list2.append((i,i**3))
list2

[(9, 729), (5, 125), (6, 216)]

94. Write a Python program to get all combinations of 2 tuples.
```
Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]
```

In [21]:
test_tuple1 = (7,2)
test_tuple2 = (7,8)
result = [(x,y) for x in test_tuple1 for y in test_tuple2]
result = result + [(x,y) for x in test_tuple1 for y in test_tuple2]
result

[(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 8), (2, 7), (2, 8)]

In [24]:
from itertools import chain, product 
test_tuple1 = (1, 2)
test_tuple2 = (3, 4) 
print("The tuple 1 : ",test_tuple1)
print("The tuple 2 : " , test_tuple2)
result = list(chain(product(tuple1, tuple2), product(tuple2, tuple1))) 
print("The resultant tuple : " + str(result))

The tuple 1 :  (1, 2)
The tuple 2 :  (3, 4)
The resultant tuple : [(1, 3), (1, 4), (2, 3), (2, 4), (3, 1), (3, 2), (4, 1), (4, 2)]

95. Write a Python program to sort a list of tuples by second item.
```
Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]
```

In [31]:
tuple_1 = [('for', 24), ('Geeks', 8), ('Geeks', 30)]
print('Orginal tuple: ',tuple_1)

tuple_1.sort(key=lambda a:a[1])
print('After sorting by 2nd element:',tuple_1)

Orginal tuple:  [('for', 24), ('Geeks', 8), ('Geeks', 30)]
After sorting by 2nd element: [('Geeks', 8), ('for', 24), ('Geeks', 30)]

96. Write a python program to print below pattern.
```
* 
* * 
* * * 
* * * * 
* * * * * 
```

In [42]:
n= int(input('Enter the no.'))
for i in range(n):
    for j in range(i+1):
        print('* ', end='')
    print('')

Enter the no. 5

*
* *
* * *
* * * *
* * * * *

97. Write a python program to print below pattern.
```
    *
   **
  ***
 ****
*****
```

In [57]:
n= int(input('Enter the no.'))
for i in range(n,0,-1):
    for j in range(i+1):
        print(' ', end='')
    for k in range (i+1, n+1):
    
        print("*", end ="")
    print(" ")

Enter the no. 6

      *
     **
    ***
   ****
  *****

98. Write a python program to print below pattern.
```
    * 
   * * 
  * * * 
 * * * * 
* * * * * 
```

In [66]:
n= int(input('Enter the no.'))
for i in range(n,0,-1):
    for j in range(i+1):
        print(' ', end='')
    for k in range (i+1, n+1):
    
        print("*", end =" ")
    print("")

Enter the no. 6

      *
     * *
    * * *
   * * * *
  * * * * *

99. Write a python program to print below pattern.
```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [70]:
n= int(input('Enter the no.'))
for i in range(n):
    for j in range(i+1):
        print(j+1,' ', end='')
    print('')

Enter the no. 5

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

100. Write a python program to print below pattern.
```
A 
B B 
C C C 
D D D D 
E E E E E 
```

In [77]:
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(i),' ', end='')
    print('')

A
B  B
C  C  C
D  D  D  D
E  E  E  E  E

<h1> <b> ----------------------THANKYOU----------------------------